ingress:
    host: "$NAMESPACE.chk.mintcloud.ch"
    customDomain: "$CUSTOM_DOMAIN"
    clusterIssuerRef: letsencrypt-http-prod
acme:
    email: $ACME_EMAIL
    infomaniakApiToken: "$INFOMANIAK_API_TOKEN"
storageClassName: csi-cinder-sc-retain
addonsGitRepos:
 - https://github.com/odoo/design-themes.git#18.0
