ingress:
    host: "$NAMESPACE.chk.mintcloud.ch"
    clusterIssuerRef: letsencrypt-http-prod
    className: nginx
acme:
    email: $ACME_EMAIL
    infomaniakApiToken: "$INFOMANIAK_API_TOKEN"
crds:
    enabled: true
